@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --text-color: #fff;
    --body-color: #fff;
    --card-color: #fff;
    --subtitle-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.85s;
}


body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: var(--body-color) no-repeat center center fixed;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

body::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f) no-repeat center center fixed;
    clip-path: circle(30% at right 70%);
}

body::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63) no-repeat center center fixed;
    clip-path: circle(20% at 10% 10%);
}

.dashboard-text {
    position: absolute;
    inset: 0;
    display: flex;
    top: 75px;
    text-align: center;
    flex-direction: column;
    color: var(--text-color);
    background: var(--card-color);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    /* width: 280px;
    height: 400px;
    margin: 30px; */
    width: 210px;
    height: 300px;
    margin: 15px;
    background: var(--card-color);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .text {
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0; */
    transition: 0.5s;
}

/* .container .card:hover .text {
    transform: translateY(0px);
    opacity: 1;
} */

.container .card .text h2 {
    font-size: 1.8em;
    color: var(--text-color);
    z-index: 1;
}

.container .card .text h2 span {
    font-weight: 400;
    color: var(--text-color);
    font-size: 0.5em;
}

.container .card .text p {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.75px;
    color: var(--subtitle-text-color);
}

.text a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: var(--link-back-color);
    color: var(--link-text-color);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
