.topnav {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	background-color: #333;
	z-index: 100;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 23px 25px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #04AA6D;
	color: white;
  }

.topnav .right {
	display: flex;
	flex-direction: row;
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 15px;
}
