@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.buttonModalDefault {
	background-color: #47a386;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	color: #eee;
	font-size: 14px;
	padding: 10px 25px;
    transition: all 0.2125s ease;
}

.buttonModalDefault:hover {
	background-color: #275345;
	color: #fff;
}

.modal-container {
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	opacity: 0;
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: all 0.3s ease;
	font-family: 'Poppins', sans-serif;
	z-index: 10;
	color: var(--text-color);
}

.modal-container.show {
	pointer-events: auto;
	opacity: 1;
}

.modal {
	background-color:var(--card-color);
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	padding: 30px 50px;
	width: 600px;
	max-width: 100%;
	text-align: center;
}

.modal h1 {
	margin: 0;
}

.modal p {
	font-size: 14px;
	opacity: 0.7;
}
