<div class="switch-toggle">
    <div class="button-check" id="button-check">
      <input type="checkbox" class="checkbox" id="checkbox" onclick="changeTheme();">
      <span class="switch-btn"></span>
      <span class="layer"></span>
    </div>
</div>

<br></br>

<button id="closeModal" class="buttonModalDefault">
    Fermer
</button>

<script>
var currentTheme = false;

if(getCookie('theme') != '') {
    if(getCookie('theme') == 'false') {
        var currentTheme = false;
    }
    else {
        var currentTheme = true;
    }
}


    if(currentTheme == true) {
    document.getElementById("checkbox").setAttribute('checked', '')
}
</script>
<script src="js/cardData.js"></script>
